body {
    font-family: Arial, sans-serif;
    background-color: #60bd04;
}

.contenedor{
    width: 200px;
    /* Margin es la distancia del borde hacia afuera */
    /*1-.Top, bottom 2.- Right, left*/
    margin: 40px auto;
    /* Padding es la distancia del borde hacia dentro */

    /*Como es un solo valor, se aplica para top, botton, left y right*/
    padding: 10px;
    background-color: #2fe;
}

h1{
    text-align:right;
}

input{
    width: 100%;
    margin-top: 15px;
}

.boton-formulario{
    width: 100%;
    background-color: rgb(58, 51, 153);
    color:#fff;
    padding: 7px;
    margin-top: 8px;
    border: none;
}