<!DOCTYPE html>
<html>
    <head>
        <title>Mi Proyteco Patitox</title>
                <link rel="stylesheet" href="{{ url_for('static',filename= 'css/styles.css')}}">
    </head>
    <body>
        <div class="contenedor">
            <h1>Bienvenido a mi pagina web</h1>
            <p>Esta pagina web es una simple aplicación Flask.</p>
            <a href="{{ url_for('par')}}" style="color: rgb(4, 106, 239);">Haz click aqui para entrar al determinador de pares</a>

            <a href="{{ url_for('adivinador')}}" style="color: black;">Haz click aqui para entrar al adivinador de numeros</a>
        </div>
    </body>
</html>